body{
    background-color: lightskyblue;
    font-family: Luminari, serif;
}

h1{
    font-size: 70px;
}
.heading{
    position: relative;
    text-align: center;
}

#credit{
    position: relative;
    left: 70%;
    bottom: 50px;
}

.entries{
    position: relative;
    left: 25px;
    top: 25px;
}
.horo{
    position: relative;
    top: 25px;
    left: 25px;
}
